@charset "UTF-8";
main div.container {
  margin-top: 20px;
}
main div.container .col-md-3 {
  padding: 0 20px;
}
main div.container .col-md-3 ul {
  list-style: none;
  border: 1px solid #DBDBDB;
  padding: 0;
  margin: 0;
}
main div.container .col-md-3 ul li {
  text-align: center;
  line-height: 60px;
  border-bottom: 1px dashed #CCCCCC;
  font-size: 16px;
  font-weight: 600;
}
main div.container .col-md-3 ul li:first-child {
  background-color: #206EB7;
  color: #fff;
  line-height: 0;
}
main div.container .col-md-3 ul li:first-child h3 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 800;
}
main div.container .col-md-3 ul li:first-child small {
  display: block;
  margin-bottom: 20px;
}
main div.container .col-md-9 header {
  background-color: #F8F8FA;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
}
main div.container .col-md-9 header h3 {
  font-size: 16px;
  padding: 0 20px;
  font-weight: bold;
}
main div.container .col-md-9 header span {
  padding-top: 15px;
}
main div.container .col-md-9 > div {
  padding: 30px 20px 50px 20px;
  text-align: center;
}
main div.container .col-md-9 > div h4 {
  font-weight: bold;
  padding: 20px 0;
}
main div.container .col-md-9 > div b {
  font-style: normal;
  padding: 20px 0;
}
main div.container .col-md-9 > div p {
  text-align: left;
  text-indent: 2em;
  padding: 5px;
  line-height: 25px;
}
main div.container .col-md-9 > div img {
  width: 86%;
}
